body {
    margin: 0px;
    overflow: hidden;
}

#bottomButtons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

/* reduce width if it's too wide for smaller devices, can change properties of the bottons by changing stuff within curly brackets of .button */
.button {
  padding: 0.25em;
  border-radius: 4px;
  border: true;
  border-color: black;
  background: yellow;
  color: black;
  width: 15em;
  height: 3em;
  margin-left: 10px;
}

#plane1 {
  margin-left: 0px;
}

#skybtn {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 1%;
  height: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
  
.skybtn {
  padding: 1em;
  border-radius: 50%;
  border: none;
  background: #e7e7e7; color: black;
  width: 3em;
  height: 3em;
}
